<!DOCTYPE html>
<html>
<head>
    <title>LANDING | Scrapping WEB!!</title>
</head>
<body>
<h1>LANDING</h1>



<a href="{{ path('hello') }}">HELLO</a>
<a href="{{ path('bye') }}">BYE</a>
{# ... #}
</body>
</html>
