<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<h1>HELLO</h1>
<h2>{{number}}</h2>


<a href="{{ path('landing') }}">LANDING</a>
<a href="{{ path('bye') }}">BYE</a>
{# ... #}
</body>
</html>
